@import url('https://fonts.googleapis.com/css2?family=Economica:wght@700&family=Poiret+One&family=Protest+Strike&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(0, 0, 0);
}

a {
    text-decoration: none;
    color: black;
}

ul {
    list-style: none;
}

.special-elite-regular {
    font-family: "Special Elite", system-ui;
    font-weight: 400;
    font-style: normal;
}

.poiret-one-regular {
    font-family: "Poiret One", sans-serif;
    font-weight: 600;
    font-style: normal;
}

.protest-strike-regular {
    font-family: "Protest Strike", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: rgb(255, 104, 104);
    font-size: 14px;
    text-decoration: underline;
}

.protest-strike-regular1 {
    font-family: "Protest Strike", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.economica-bold {
    font-family: "Economica", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.protest-strike-regular {
    font-family: "Protest Strike", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 40;
    font-size: 40px;
}

#bg {
    height: calc(100vh - 80px);
    opacity: 50%;
}

#nav-bar {
    width: 100%;
    height: 80px;
    background-color: rgb(149, 153, 155);
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.715);
}

#nav-logo {
    display: inline-flex;
    padding: 0 13px;
    align-items: center;
    justify-content: center;
    gap: 0 8px;
    font-size: 30px;
}

#nav-logo a {
    display: flex;
    gap: 0 8px;
    padding: 0 21px;
    align-items: center;
    justify-content: center;
}

#nav-tags {
    display: block;
    padding: 0 13px;
    align-items: center;
    justify-content: center;
    font-size: 23px;
    height: 100%;
}

#nav-tags ul {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
}

#nav-tags ul a {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 0 21px;
}

#nav-tags ul a:hover {
    color: white;
    transition-duration: 0.3s;
    transition-timing-function: ease;
}

#main {
    display: flex;
    position: relative;
    align-items: center;
    box-sizing: border-box;
}

#main-text {
    position: absolute;
    color: white;
    font-size: 100px;
    display: flex;
    flex-direction: column;
    left: 5%;
    align-items: start;
    text-decoration: underline;
}

#main-body {
    width: calc(100% - (425.93px + 10% + 30%));
    height: 90%;
    position: absolute;
    border-radius: 7px;
    overflow: hidden;
    right: 15%;
    background-color: #00000083;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

#main-body-form {
    width: 100%;
    height: calc(100% - 80px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

#main-content {
    width: 100%;
    height: 400px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-content-img{
    height: 100%;
}

.main-content-img img{
    height: 100%;
}

.main-content-txt{
    height: 100%;
    font-size: 18px;
    padding: 15px;
}

#main-foot {
    width: 100%;
    background-color: rgba(185, 185, 185, 0.607);
    display: flex;
    align-items: center;
    justify-content: center;
}

form {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

#btn {
    width: 100%;
    border: none;
    border-radius: 0;
    height: 80px;
    background-color: #ffffffd0;
    font-size: 22px;
    cursor: pointer;
    font-weight: 400;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
}

#btn:hover {
    background-color: #ffffff;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
}

.row {
    width: 80%;
    height: 10%;
    border-radius: 12px;
    background-color: #00000083;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition-timing-function: ease-in-out;
}

.row:hover {
    border: 2px solid white;
    transition-timing-function: ease-in-out;
}

.row.error {
    border: 3px solid rgb(255, 0, 0);
}

.row.success {
    border: 3px solid rgb(0, 255, 0);
}

.row input {
    height: 100%;
    width: 67%;
    padding: 0 8px;
    border: none;
}

.row input:focus {
    outline: none;
}

#label {
    padding: 8px 12px;
}

#main-body-form p {
    width: 80%;
    text-align: center;
}

.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {
        -webkit-transform: scale(0)
    }

    to {
        -webkit-transform: scale(1)
    }
}

@keyframes animatezoom {
    from {
        transform: scale(0)
    }

    to {
        transform: scale(1)
    }
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
    }
}

img.avatar {
    width: 40%;
    border-radius: 50%;
}

.container {
    width: 100%;
    height: 100%;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.captcha-img {
    width: 100%;
    height: 100px;
    color: rgb(255, 255, 255);
    padding: 10px;
    display: flex;
    font-size: 70px;
    align-items: center;
    justify-content: center;
    background-image: url("IMAGES/captcha-bg.png");
}

.captcha-inp {
    width: 80%;
    height: 30px;
}

.captcha-inp input {
    width: 100%;
    height: 30px;
    padding-left: 7px;
}

.captcha-submit {
    width: 30%;
}

.c-msg{
    width: 30%;
    color: #000;
}

.captcha-submit button {
    width: 100%;
    height: 30px;
    padding: 7px;
    align-items: center;
}

.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
}


.modal-content {
    background-color: #fefefe;
    position: absolute;
    left: calc(50% - 200px);
    top: calc(50% - 150px);
    /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 400px;
    height: 300px;
    /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.close {
    position: absolute;
    right: 7px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
}

.footer {
    width: 100%;
    background-color: #333;
    color: #fff;
    padding: 50px 0;
}

.footer-content {
    width: 80%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-column {
    width: 30%;
}

.footer-column h3 {
    margin-bottom: 15px;
}

.footer-column p {
    margin-bottom: 10px;
}

.footer-column ul {
    list-style-type: none;
    padding: 0;
}

.footer-column ul li {
    margin-bottom: 5px;
}

.social-icons li {
    display: inline-block;
    margin-right: 10px;
}

.social-icons li a {
    color: #fff;
    font-size: 20px;
}

.social-icons li a:hover {
    color: #ddd;
}
